include LICENSE
include README.md
include bwyd/resources/bwyd.*
include bwyd/resources/*.py
include bwyd/resources/*.json
include bwyd/*.py
include pyproject.toml
include tests/*
prune .ipynb_checkpoints
prune docs

