include LICENSE
include README.md
include bwyd/*.py
include bwyd/resources/*.jinja
include bwyd/resources/*.json
include bwyd/resources/*.py
include bwyd/resources/*.svg
include bwyd/resources/*.tx
include graph/bwyd.stottr
include graph/domain.ttl
include graph/pantry.ttl
include graph/search.ttl
include graph/shapes.ttl
include pyproject.toml
include tests/*
prune .ipynb_checkpoints
prune docs

