/* fonts, icons, colors */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.material-symbols-outlined {
    font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
}

:root {
    --body-foreground: hsl(0, 0%, 40%);
    --body-background: #f4f5f7;
    --container-div: white;
    --editor-box-shadow-1: rgba(0, 0, 0, 0.08);
    --editor-box-shadow-2: rgba(0, 0, 0, 0.06);
    --details-summary-border: #eee;

    --input-border: #d0d5dd;
    --input-border-focus: #4f6ef7;
    --input-focus: rgba(79, 110, 247, 0.15);
    --control-border rgb(200, 210, 225);
    --control-box-shadow: rgba(13, 110, 253, 0.027);
    --control-outline rgb(33, 37, 41);
    --placeholder-text: gray;
    --subtle-control: #aaa;

    --col-info-angle: 30deg;
    --col-info-hatch: hsla(308, 16%, 82%, 50%);

    --list-glyph: #777;
    --list-add-item: blue;
    --list-del-item: red;
}

html, h1, h2, h3, h4, h5, p, span, cite, figcaption, button, label, input, select, textarea {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

html {
    font-size: 16px;
}


/* grid layout */
.container {
    display: grid;
    grid-template-areas: "header" "editor" "footer";
    grid-template-rows: 3rem auto 3rem;

    color: var(--body-foreground);
    background-color: var(--body-background);

    padding: 3rem;
    min-height: 100vh;
}

.container div {
    background-color: var(--container-div);
}

.container div.header {
    grid-area: header;
    text-align: center;
    border-radius: .75rem .75rem 0 0;
    line-height: 1em;
}

.container div.editor {
    grid-area: editor;
    text-align: left;
    box-shadow: 0 .06rem .19rem var(--editor-box-shadow-1), 0 .5rem 1.5rem var(--editor-box-shadow-2);
    padding: 2rem;
}

.container div.footer {
    grid-area: footer;
    text-align: left;
}

.container div.footer p {
    margin: 0;
    padding-left: 2rem;
    font-size: 1rem;
    line-height: 1em;
}


/* DOM structural elements */
h1 {
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin: 1.2rem 0 1.2rem 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[type="image"],
[type="checkbox"],
[type="radio"],
summary {
    cursor: pointer;
}

*, *::before, *::after {
    box-sizing: border-box;
}


/* form inputs */
input[type="text"],
input[type="url"],
textarea {
    padding: .5rem .8rem;
    border: .09rem solid var(--input-border);
    border-radius: .5rem;
    outline: none;
    transition: border-color 0.15s, box-shadow 0.15s;
}

input[type="url"] {
    font-family: 'Consolas', 'Menlo', 'SF Mono', monospace;
    font-size: 1rem;
}

input:focus, textarea:focus {
    border-color: var(--input-border-focus);
    box-shadow: 0 0 0 .19rem var(--input-focus);
}

::placeholder {
    color: var(--placeholder-text);
    opacity: 0.5;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-style: oblique;
}

.form-control {
    display: block-inline;
    width: 93%;

    box-sizing: border-box;
    box-shadow: var(--control-box-shadow) 0 0 0 .03rem;

    appearance: none;
    background-clip: padding-box;
    background-color: var(--container-div);

    border-bottom-color: var(--control-border);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-bottom-style: solid;
    border-bottom-width: .09rem;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: var(--control-border);
    border-left-style: solid;
    border-left-width: .09rem;
    border-right-color: var(--control-border);
    border-right-style: solid;
    border-right-width: .09rem;
    border-top-color: var(--control-border);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-top-style: solid;
    border-top-width: .09rem;

    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0;
    padding: .5rem .8rem .5rem .8rem;

    padding-block-end: .5rem;
    padding-block-start: .5rem;
    padding-inline-end: .8rem;
    padding-inline-start: .8rem;

    outline-color: var(--control-outline);
    outline-style: none;
    outline-width: .19rem;
    overflow-clip-margin: 0;
    overflow-x: clip;
    overflow-y: clip;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;

    transition-behavior: normal, normal;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease, ease;
}

select.form-control {
    display: inline;
    font-weight: bold;
    width: 93%;
    max-width: 10rem;
}

input.form-check-input {
    margin-top: 1rem;
}

.bwyd-input {
    width: 90%;
}

textarea {
    resize: vertical;
}

.note-spacer {
    margin-bottom: .3rem;
}


/* form labels */
label.form-label {
    display: block;
    flex-shrink: 0;
    box-sizing: border-box;

    max-width: 100%;
    height: 1.5rem;

    font-size: .9em;
    line-height: 1.5rem;

    margin: .5em 0 .19rem 0;
    padding: 0 .75rem 0 .75rem;
}

label.form-check-label {
    margin-left: 1rem;
    margin-top: .7rem;
}


/* summary/details */
summary span {
    z-index: 20;
    font-size: .75em;
    font-style: oblique;
    color: var(--subtle-control);
    margin-left: 1em;    
    vertical-align: top;
}

summary {
    vertical-align: middle;
    margin-top: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

details>summary {
    list-style-type: none;
    outline: none;
    cursor: pointer;
    border: .06rem solid var(--details-summary-border);
    border-radius: .31rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>summary::before {
    font-family: "Material Symbols Outlined";
    content: "\e944";
}

details[open]>summary::before {
    font-family: "Material Symbols Outlined";
    content: "\e94f";
}

details {
    margin-top: .1rem;
}


/* collections */
div.list-group {
    box-sizing: border-box;
    border-radius: .37rem;
    -webkit-tap-highlight-color: var(--container-div);

    text-align: start;
    margin 0;
    padding 0;
}

div.list-group div details summary {
    margin-top: 0;
    padding-top: .5rem;
}


/* editor subgrid */
div.detailed {
    display: grid;
    grid-template-areas: "col-info" "col-edit";
    grid-template-columns: 2.5rem auto;
    grid-gap: .3rem;
    margin-top: .3rem;
}

div.col-info {
    max-width: 2.5rem;
    background-image: repeating-linear-gradient(
	var(--col-info-angle),
	transparent,
	transparent .05rem,
	var(--col-info-hatch) .13rem,
	var(--col-info-hatch) .24rem
    );
}

.hatch1 {
    --col-info-angle: -30deg;
    --col-info-hatch: var(--input-border);
}

.hatch2 {
    --col-info-angle: 130deg;
}

div.col-info label span {
    color: var(--list-glyph);
    font-weight: bold;
    padding: .5rem 0 0 .5rem;
}

div.col-edit {
    max-width: 80%;
}

span.item-add {
    top: .3rem;
    color: var(--list-add-item);
    z-index: 10;  
    position: relative;
    cursor: pointer;
    width: 1.5rem;
    text-align: left;
    font-size: 1.2rem;
    font-style: normal;
}

span.item-del {
    top: 0;
    color: var(--list-del-item);
    text-align: right;
    font-size: .9rem;
    padding-top: .8rem;
    padding-right: 1.1rem;
}

span.struct-del {
    top: 0;
    z-index: 20;
    float: right;
    color: var(--list-del-item);
    text-align: right;
    font-size: 1.2rem;
    padding-top: .1rem;
    padding-right: 1.5rem;

}
